# Fichiers spécifiques à gcloud
.gcloudignore
.git
.gitignore

# Python pycache :
__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo

# Ignorés par le système de build
setup.cfg

# Environnements virtuels et dépendances
venv/
.venv/

# Fichiers système (macOS, logs, etc.)
.DS_Store
*.log

# Configurations locales
*.local
*.tmp

# Fichiers d'images locales (par exemple, pour tests ou debug)
*.jpg

# Pytest et tests locaux
.pytest_cache/
.vscode/
tests/
pytest.ini